.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f8c1;
  box-shadow: 0 2px 4px rgba(238, 224, 132, 0.1);
}
.nav-items > ul {
    display: flex;
    list-style-type: none;

}
.nav-items > ul > li {
    font-size: 18px;
    color: rgb(91, 51, 2);
    padding:10px;
    margin: 10px;
}
.logo {
  width: 100px;
  border-radius: 50%;
}

.login-container {
  display: flex;
  align-items: center;
}

.login-btn {
  min-width: 100px;
  max-width: 100px;
  max-height: 40px;
  background-color: #f5cb60;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}